<div class="modal-wrapper" aria-hidden="true">
    <div class="poke-modal">
      <a class="close-btn" href="">X</a>
      <div class="modal-header">
        <div class="poke-name">
            <h1>Bulbasaur</h1>
            <div class="poke-types">
                <div class="type-pill poison">poison</div>
                <div class="type-pill grass">grass</div>
            </div>
        </div>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="">
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th>Hability</th>
            <td>000</td>
          </tr>
          <tr>
            <th>Hability</th>
            <td>000</td>
          </tr>
          <tr>
            <th>Hability</th>
            <td>000</td>
          </tr>
          <tr>
            <th>Hability</th>
            <td>000</td>
          </tr>
          <tr>
            <th>Hability</th>
            <td>000</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>